venv/
__pycache__/
data/
.vscode/
model/
baseline/.venv/
.venv/
baseline/aug/
baseline/ECAPA/
baseline/M_aug/
baseline/model3/
baseline/model4/
baseline/no_aug/
baseline/saves/
/baseline/saves
baseline/model5
baseline/new_arch
baseline/new_arch2
baseline/baseline_data